<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.google.com/s2/favicons?domain=ucentric.io">

    <title>Ucentric Demo</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/floating-labels.css" rel="stylesheet">
  </head>

  <body>
    <form class="form-signin" action="/login" method="post" style="max-width: 500px;">
      <div class="text-center mb-4">
        <img class="mb-4" src="/logo.png" alt="ucentric logo" width="auto" height="72">
        {{#if logo}}
          <img style="margin-left: 20px; max-width: 200px;" class="mb-4" src="{{ logo }}" alt="your logo" width="auto" height="72">
        {{/if}}
        <h1 style="margin-top: 20px;" class="h3 mb-3 font-weight-normal">Ucentric <> {{ company }} Demo</h1>
      </div>

      <div class="form-label-group">
        <input name="username" id="inputEmail" type="text" class="form-control" placeholder="Username (enter anything you want)" required autofocus>
        <label for="inputEmail">Username</label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2020 519 Ventures LLC DBA Ucentric</p>
    </form>
  </body>
</html>

